{{- $name  := .name -}}
{{- $id    := or .id $name -}}
{{- $label := or .label (humanize $name) -}}
{{- $req   := .required | default false -}}

<label for="{{ $id }}" class="[ flex middle col-gap--0.5 ]">
  <span class="[ font--600 ]">{{ $label }}</span>

  <input
    id="{{ $id }}"
    name="{{ $name }}"
    type="text"
    class="[ form__input auto-select ]"
    inputmode="decimal"
    pattern="^\d+(\.\d{1,2})?$"
    placeholder="0.00"
    autocomplete="off"
    {{ if $req }}required aria-required="true"{{ end }}
  >
</label>
