<form id="technical_feedback"
  class="[ x--700 row-gap--1 py--2 ]"
  name="technical_feedback"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  data-validate
  novalidate>


  <aside class="[ callout callout--info ][ grid row-gap--0.5 px--1 py--1 r--5 ]"
    role="note"
    aria-label="Note"
    id="callout-example">

    <div class="[ callout__header ][ flex middle col-gap--0.5 ]">
        <span class="[ callout__icon ][ flex middle ]" aria-hidden="true">
          <!-- Inline SVG icon goes here -->
          {{ readFile "static/icons/tabler/info-circle.svg" | safeHTML }}
        </span>
      <strong class="[ callout__title ]">Note</strong>
    </div>

    <div class="[ callout__body ]">
      <p>You will not receive a reply. We will consider your feedback to help improve the site.</p>

      <p>Don't include any personal or financial information, for example National Insurance, credit card numbers, or phone numbers.</p>
    </div>
  </aside>

  <!-- Hidden fields -->
  <input type="hidden" name="form-name" value="technical_feedback">
  <input type="hidden" name="page_url" value="{{ .Permalink }}">
  <input type="hidden" name="page_title" value="{{ .Title }}">
  <input type="hidden" name="redirect" value="{{ .RelPermalink }}">
  <!-- Honeypot -->
  <label class="visually-hidden">Don't fill this out: <input name="bot-field"></label>

  <!-- Problem categories (optional) -->
  <fieldset class="[ grid row-gap--1 ]" data-show-when='{"about":"report_problem"}'>

    <legend class="[ form__label ]">Which problem did you find? <small class="muted">(tick all that apply)</small></legend>

    <ul class="[ grid gap--0.5 ]" role="list">
      <li>
        {{ partial "inputs/checkbox.html" (dict
          "name"   "problem-link_button_video"
          "value" "link_button_video"
          "label" "A link, button, or video is not working"
        ) }}
      </li>
      <li>
        {{ partial "inputs/checkbox.html" (dict
          "name"   "problem-spelling"
          "value" "spelling"
          "label" "There's a spelling mistake"
        ) }}
      </li>
      <li>
        {{ partial "inputs/checkbox.html" (dict
          "name"   "problem-info_missing"
          "value" "info_missing"
          "label" "Information is missing, outdated, or wrong"
        ) }}
      </li>
      <li>
        {{ partial "inputs/checkbox.html" (dict
          "name"   "problem-cannot_find"
          "value" "cannot_find"
          "label" "I can't find what I'm looking for"
        ) }}
      </li>
      <li>
        {{ partial "inputs/checkbox.html" (dict
          "name"   "problem-other"
          "value" "other"
          "label" "Another issue"
        ) }}
      </li>
    </ul>
    
  </fieldset>

  <!-- Main message -->
  <div class="[ form__field ][ grid row-gap--0.5 ]">
    <label class="[ form__label ][ font--500 font--600 ]" for="message">
      Tell us more about the problem you're having with this page.<abbr class="[ required ]" title="This field is required" aria-label="This field is required">*</abbr>
    </label>
    <textarea class="[ form__message ][ p--0.5 ]"
      name="message" id="technical_message"
      minlength="10" maxlength="3000"
      autocomplete="off" spellcheck="true"
      required></textarea>
  </div>

  <!-- Actions -->
  <div>
  <button class="[ btn btn--sm btn--primary ]" form="technical_feedback" type="submit" value="submit">Send feedback &rarr;</button>
  </div>

  <!-- Live region for validation announcements (optional) -->
  
  <div id="technical_errors" class="visually-hidden" aria-live="polite" aria-atomic="true"></div>
</form>