{{- block "variables" . -}}{{- end -}}
<!DOCTYPE html>
<html id="page" lang="{{ .Site.LanguageCode }}" prefix="og: https://ogp.me/ns#">
  {{ partial "head.html" . }}
  <body>
    <a class="screen-reader-text" href="#main">Skip to main content</a>
    <div id="container" class="[ container ]">
      {{ $currentPage := . }}
      {{ partial "navbar.html" (dict "context" . "currentPage" $currentPage) }}
      <main id="main" class="[ main ][ content-grid {{ if eq .Page.Kind "404" }} error {{ end }}]" id="main">
        {{ block "main" . -}}{{- end }}
        {{ partial "report.html" . }}
      </main>
      {{- partial "footer/footer.html" . }}
    </div>
    {{/* 
      {{ partial "notice.html" . }}
    */}}
    {{partial "script.html" (dict "path" "scripts/components/prefetch.js" "targetPath" "scripts/prefetch.js" "attributes" (dict "defer" true))}}
    <script type="speculationrules">
    {
      "prerender": [
        {
          "source": "document",
          "where": { "href_matches": "/*" },
          "eagerness": "moderate"
        }
      ],
      "prefetch": [
        {
          "source": "document",
          "where": { "href_matches": "/*" },
          "eagerness": "conservative"
        }
      ]
    }
    </script>
    {{ if or .IsHome ( $.Store.Get "hasObscure" ) }}
    {{ partial "script.html" (dict "path" "scripts/components/obscure.js" "targetPath" "scripts/obscure.js" "attributes" (dict "defer" true))}}
    {{- end }}
    {{- if .Store.Get "hasYouTube" -}}
    {{-
      $attributes := dict
      "module" true
      "defer" true
    -}}
    {{ partial "script.html" (dict "path" "scripts/vendor/lite-youtube.js" "targetPath" "scripts/lite-youtube.js" "attributes" $attributes) }}
    {{- end -}}
    {{- if .Store.Get "project" -}}
    {{ partial "script.html" (dict "path" "scripts/vendor/lightgallery.js" "targetPath" "scripts/lightgallery.js") }}
    {{end}}
    {{ if .Store.Get "hasForm" }}
    {{ partial "script.html" (dict "path" "scripts/vendor/bouncer.polyfills.js" "targetPath" "scripts/bouncer.js" "raw" true "attributes" (dict "defer" true))}}
    {{ partial "script.html" (dict "path" "scripts/components/validate.js" "targetPath" "scripts/validate.js") }}
    {{ end }}
    {{ if .Store.Get "hasThankYou" }}
    {{ partial "script.html" (dict "path" "scripts/components/thank-you.js" "targetPath" "scripts/thank-you.js") }}
    {{ end }}
    {{ if .Store.Get "hasQuote" }}
    {{ partial "script.html" (dict "path" "scripts/components/price.js" "targetPath" "scripts/price.js") }}
    {{ end }}
    {{ partial "script.html" (dict "path" "scripts/components/notice.js" "targetPath" "scripts/notice.js") }}
    {{ partial "analytics/mpixel.html" . }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: 'XIVQ2UYD9Y',
        apiKey:   "5abebb8b802150febc61d9bfb2535a20",
        siteId: 'ef671c8a-75b3-40bb-aca3-e68ed1ea9214',
        branch: 'main',
        selector: 'div#search',
        placeholder: "Search the Highway Code…",
        hitsPerPage: 5,
        detached: false   // ← render results inline under #search
      });
      // 8c8828ca85c1e0846a94c727a66569542af74d1e5fbc21b45b0c1b037eb6ce73
    </script>


  </body>
</html>