{{- if .Store.Get "isPost" -}}
{{- $iso := "2006-01-02T15:04:05Z07:00" -}}

{{- /* Core fields */ -}}
{{- $title := .Title -}}
{{- $desc  := (.Description | default .Summary | default $title) | markdownify | plainify | chomp -}}
{{- $published := .Date.Format $iso -}}
{{- $modified  := (or (and .GitInfo .GitInfo.AuthorDate) .Lastmod .Date).Format $iso -}}
{{- $tags      := .Params.tags | default (slice) -}}
{{- $cats      := .Params.categories | default (slice) -}}
{{- $lang      := .Site.LanguageCode | default "en" -}}

{{- /* Feature/share image */ -}}
{{- $feature := .Params.feature -}}
{{- $image   := (cond (and $feature (isset $feature "image")) $feature.image .Site.Params.share) | absURL -}}
{{- $alt     := cond (and $feature (isset $feature "alt")) $feature.alt (print "Share image for " site.Title) | plainify | chomp -}}

{{- /* Publisher / author (reference your LocalBusiness node) */ -}}
{{- $publisher := dict "@id" (print .Site.BaseURL "#localbusiness") -}}
{{- $author    := $publisher -}} {{/* fallback: organization as author; swap to Person if you have .Params.author */}}

{{- /* isPartOf Blog (optionally include parent info) */ -}}
{{- $isPartOf := dict "@type" "Blog" "publisher" $publisher -}}
{{- with .Parent -}}
  {{- $isPartOf = merge $isPartOf (dict "@id" .Permalink "name" .Title) -}}
{{- end -}}

{{- /* -------- WebPage objet -------- */ -}}
{{- $web := dict
  "@context" "https://schema.org"
  "@type"    "WebPage"
  "name"     $title
  "description" $desc
  "url"      .Permalink
  "publisher" $publisher
  "license"  "http://creativecommons.org/licenses/by-nc-sa/3.0/us/deed.en_US"
-}}

{{- /* -------- BlogPosting object -------- */ -}}
{{- $post := dict
  "@context"        "https://schema.org"
  "@type"           "BlogPosting"
  "@id"             .Permalink
  "mainEntityOfPage" (dict "@id" .Permalink)
  "headline"        $title
  "name"            $title
  "description"     $desc
  "inLanguage"      $lang
  "datePublished"   $published
  "dateModified"    $modified
  "author"          $author
  "publisher"       $publisher
  "url"             .Permalink
  "isPartOf"        $isPartOf
  "wordCount"       .WordCount
-}}

{{- if $image -}}
  {{- $post = merge $post (dict "image" (dict "@type" "ImageObject" "url" $image "caption" $alt "width" 1200 "height" 1200)) -}}
{{- end -}}

{{- if gt (len $tags) 0 -}}
  {{- $post = merge $post (dict "keywords" $tags) -}}
{{- end -}}

{{- if gt (len $cats) 0 -}}
  {{- $post = merge $post (dict "articleSection" $cats) -}}
{{- end -}}

<!-- WebPage + BlogPosting Schema -->
<script type="application/ld+json">{{ (slice $web $post) | jsonify (dict "indent" "  ") }}</script>
{{- end -}}
