{{- if .IsHome -}}
  {{- $siteID := print .Site.BaseURL "#website" -}}
  {{- $orgID  := print .Site.BaseURL "#organization" -}}
  {{- $desc   := (.Description | default site.Params.description | default site.Params.tagline | default "") | markdownify | plainify | chomp -}}

  {{- $schema := dict
      "@context"  "https://schema.org"
      "@type"     "WebSite"
      "@id"       $siteID
      "url"       .Site.BaseURL
      "name"      site.Title
      "publisher" (dict "@id" $orgID)
    -}}

  {{- if $desc -}}
    {{- $schema = merge $schema (dict "description" $desc) -}}
  {{- end -}}

  <!-- WebSite Schema -->
  <script type="application/ld+json">{{ $schema | jsonify (dict "indent" "  ") }}</script>

  <!-- Organization Schema -->
  <script type="application/ld+json">
  {{
    dict
      "@context" "https://schema.org"
      "@type"    "Organization"
      "@id"      $orgID
      "name"     site.Title
      "url"      .Site.BaseURL
      "description" $desc
    | jsonify (dict "indent" "  ")
  }}
  </script>
{{- end -}}
