@use '../abstracts' as *

.issue
  grid-template-rows: max-content 0fr
  overflow: hidden
  transform-origin: bottom
  +transition(grid-template-rows)

  > *
    min-height: 0

  &__panel
    grid-template-rows: max-content 0fr
    +transition(grid-template-rows)
    
    > *
      min-height: 0

#technical_feedback
  display: none

#general_feedback
  display: none

.feedback
  
  &__heading
    color: color('white')
    background-color: color('brand-500')
    
  &__control
    display: inline-flex
    cursor: pointer

    > span
      text-decoration: underline
      text-decoration-color: color('white')

    .icon
      +transition(transform)


.issue:has(#feedback-control:checked)
  grid-template-rows: max-content 1fr

  .feedback__control .icon
    transform: rotate(180deg)

.issue:has(#problem:checked), .issue:has(#feedback:checked)

  .issue

    &__panel
      grid-template-rows: max-content 1fr

.issue:has(#problem:checked)

  #technical_feedback
    display: grid

.issue:has(#feedback:checked)

  #general_feedback
    display: grid
    
