@use 'abstracts' as *

// .funnel
//   background-color: color('clvr-blue')
//   background-size: cover


// .ipad
//   max-width: 75%
//   border: em(18) solid #333
//   box-shadow: 0.5em 0.5em em(18) 0 rgba(0,0,0,0.3)
//   transform: rotateZ(3deg)

$min: $min-font-size * 2
$max: $max-font-size * 3
  
.footer
  background-color: color('bg-soft')
  border-top: em(4) solid color('brand-500')

  > .wrapper
    +clamp(padding-block, $min, $max)

  a:not(.logo)
    color: inherit    
    border-bottom: em(1) solid transparent
    +transition(border-bottom)

    +hover
      border-bottom: em(1) solid color('white')


  .logo

    > svg
      fill: color('white')

.slogan
  grid-template-rows: min-content min-content 1fr

.copy
  > hr
    width: 100%
    
.footer h3, .cookie-banner h2

  &::before, &::after
    content: ''
    position: absolute
    height: em(3)
    background-color:  color('clever-blue-light')
    bottom: 0
    
  &::before
    width: em(15)
    left: 0
    
  &:after
    width: em(40)
    left: em(25)
  
.markers
  width: em(24)
  
  > svg
    stroke: color('clever-blue-light')
  
.cookie-banner
  z-index: 20

  +breakpoint(xl)

    > div
      grid-template-columns: 1fr max-content

.white
  color: color('white')

