@use 'sass:math'
@use '../abstracts' as *

.navbar
  background-color: color('brand')
  width: 100%
  height: var(--navbar-height)

  > .wrapper
    height: inherit
    z-index: 15
    // outline: $by
    display: flex
    justify-content: space-between
    align-items: center

    +device(desktop)
      display: grid
      grid-template-columns: auto 1fr

.backdrop
  width: 100vw
  height: inherit
  background-color: color('brand')
  position: absolute
  inset-block: 0
  left: 50%
  transform: translateX(-50%)
  margin: auto
  z-index: -1

.logo
  +clamp(width, 100, 120)
  fill: color('white')

.menu-search
  display: flex

  +device(tablet)
    width: 100vw
    height: 100vh
    @supports (height: 100dvh)
      height: 100dvh
    overflow: hidden
    background-color: color('bg-soft')
    flex-direction: column
    padding-top: 2em
    position: absolute
    left: 50%
    transform: translateX(-50%)
    visibility: hidden
    top: -200vw
    z-index: -2
    +transition((top, visibility))
  
  +device(desktop)
    display: grid
    grid-template-columns: 1fr minmax(#{em(200)}, #{em(280)})
    

.navigation--main

  +device(tablet)
    display: block
    order: 2

  +device(desktop)
    display: flex
    height: 100%

.menu
  display: flex
  flex-direction: column

  +device(desktop)
    height: inherit
    flex-direction: row

  &__item
    align-items: center

    +device(desktop)
      display: flex

    +device(tablet)
      flex-direction: column
      padding:
        top: 1em
        bottom: 1em
      border-bottom: em(2) solid color('grey-300')

  &__link
    color: var(--text-body)
    position: relative
    +transition(color)

    +device(tablet)
      display: block
      +clamp((padding-right, padding-left), 10, 20)

    +device(desktop)
      color: color('white')

      &::before, &::after
        content: ''
        position: absolute
        width: 100%
        height: 2px
        background-color: color('white')
        left: 0
        transform: scaleX(0)
        +transition(transform)

      &::before
        top: 0
        transform-origin: right

      &::after
        bottom: 0
        transform-origin: left

      +hover
        &::after, &::before
          transform: scaleX(1)

      &.current
        
        &::after, &::before
          transform: scaleX(1)
          
.toggle
  display: flex
  color: color('white')
  position: relative
  z-index: 2
  cursor: pointer

  +device(desktop)
    display: none

  &:has(#click:focus-visible)
    outline: -webkit-focus-ring-color auto 1px

  .icon
    +transition(transform)


.container:has(#click:checked)
  overflow: hidden
  position: fixed

  .navigation--main
    visibility: visible
    left: calc(100vw - #{em(355)})

    > ul
      opacity: 1
  
  .bar
    transform: rotate(225deg)
  
    &::before
      top: 0
      opacity: 0

    &::after
      bottom: 0
      transform: rotate(-90deg)

.container:has(#click:checked)
  
  .menu-search
    top: var(--navbar-height) // particularly here
    visibility: visible
    +transition(top)


  .toggle .icon
    transform: rotate(-180deg)

// balbury@bahamasbus.com