<footer id="site-footer" class="[ footer ][ full-width content-grid ]">

  <div class="[ wrapper ][ grid ]">

    <div class="[ grid ]">
      <div>
        <a class="[ logo logo--footer ][ flex middle ]" href="/">
          {{ readFile "static/icons/logo.svg" | safeHTML }}
        </a>
      </div>
      <div>
        <p class="[ font--small ]">All plain-language content, design, and materials are the intellectual property of the project team.</p>
        <p class="[ font--small ]">
          Based on the <em>Road Traffic Act (Ch. 220)</em> and amendments.
          <br>
          Independent educational resource, not an official government publication.
        </p>
      </div>
    </div>
    
    <nav class="footer-nav__block">
      <ul class="[ flex flex--column md:flex--row gap--1 ]">
        {{ range site.Menus.main }}
        <li>
          <a href="{{ .URL }}" data-prefetch>{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>

  <div class="[ copy ][ py--2 ]">
    <div class="[ flex flex--column lg:flex--row lg:between col-gap--1 row-gap--1 ]">
      <nav class="[ o--1 lg:o--2 ]">
        <ul class="[ flex flex--column md:flex--row start gap--1 ]">        
          {{ range .Site.Menus.policies }}
          <li>
            <small>
              <a href="{{ .URL }}" data-prefetch>{{ .Name }}</a>
            </small>
          </li>
          {{end}}
        </ul>
      </nav>
      <div class="[ grid o--2 lg:o--1 ]">
        <small>© {{ time.Now.Format "2006"}} Bahamas Highway Code Online<sup>TM</sup>. All rights reserved.</small>
        <small>Site by <a href="https://getclever.marketing" target="_blank" rel="noopener">Clever Marketing, Ltd.</a></small>
      </div>

    </div>
  </div>
</footer>