
<div class="[ grid gap--2 ]">
  {{ range .Params.faqs.items }}
  <details class="[ faq ]" name="faqs">
    <summary class="[ question ][ flex between middle font--600 pb--1 ]">
      <span>{{ .question }} </span>
      <span class="marker">{{ readFile "static/icons/chevron-right.svg" | safeHTML }}</span>
    </summary>
    <div class="[ answer ][ pb--2 ]">{{ .answer }}</div>
  </details>
  {{ end }}
  {{/*  <figure class="[ ratio--1:1 o--1 ]">
    <picture class="[ bg ][ r--10 ]">
      <style>picture {background-image: url('https://{{ .Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/output=preview');}</style>
      <img data-twic-src="image:home/website-design-satisfied-customer-clever-marketing.jpg" data-twic-focus="auto" alt=""/>
      <noscript><img class="[ script ]" src="https://{{ .Site.Params.Twic }}.twic.pics/home/website-design-satisfied-customer-clever-marketing.jpg?twic=v1/output=preview"/></noscript>
    </picture>
  </figure>  */}}
</div>
