<header class="[ navbar ][ full-width content-grid ]" id="navbar">
  <div class="[ wrapper ][ middle col-gap--2 relative ]">
    <div class="[ backdrop ]"></div>
    <a class="[ logo ][ flex middle ]" href="/" aria-label="{{ site.Title }} — Home" {{ if .IsHome }}aria-current="page"{{ end }} rel="home">
      {{- readFile "static/icons/logo.svg" | safeHTML }}
    </a>
    <!-- Menu & Search -->
    <div class="[ menu-search ][ flex col-gap--2 px--1 ]">
      <nav class="[ navigation--main ][ none lg:middle col-gap--1 ]" role="navigation" aria-label="Main">
        <ul class="[ menu menu--main ][ col-gap--2 ]">
        {{- $context := .context -}}
        {{- $currentPage := .currentPage -}}
        {{with $context}}
          {{ range .Site.Menus.main }}
          <li class="[ menu__item ][ font--600 relative no-wrap ]">
              <a class="[ menu__link ][ inline-block {{ if eq $.currentPage.RelPermalink .URL }}current {{ end }}]" href="{{ .URL }}" {{ if eq $.currentPage.RelPermalink .URL }}aria-current="page"{{ end }} data-prefetch>{{ .Name }}</a>
          </li>
          {{ end }}
        {{end}}
        </ul>
      </nav>
      <div id="search" class="[ search ]"></div>
    </div>
    <!-- Dropdown -->
    <label class="[ toggle ][ lg:none ]" for="click">
      <input class="[ hidden ]" type="checkbox" name="click" id="click">
      <span class="[ flex middle ]">
        {{ readFile "static/icons/tabler/chevron-down.svg" | safeHTML }}
        <span class="[ font--600 ]">Menu</span>
      </span>
    </label>
  </div>
</header>
