{{ $svc := site.Data.services.services }}

{{ with $svc }}
<section class="[ grid layout--spacing section--padding ]" aria-labelledby="services-heading">
  <div class="[ grid center text--center ]">
    <h2 id="services-heading" class="[ grid ]">
      <span class="[ key ][ font--5 upper ]">{{ .key }}</span>
      <span>{{ .headline }}</span>
    </h2>
    <p class="[ font--4 ch--35 ]">{{ .subhead }}</p>
  </div>

  <div class="[ services ][ grid middle lg:col--2 lg:col-gap--4 row-gap--4 ]">
    {{ range $i, $item := .items }}
      {{ $isPrimary := eq $item.key "web-design" }}

      {{ if $isPrimary }}
      <article class="[ service--primary ][ grid center middle gap--2 text--center p--2 r--15 ]">
        <a class="[ service__link ][ grid center ]" href="{{ $item.href }}" data-prefetch>
          {{ if $item.icon }}
          <div class="[ graphic ]">
            {{ readFile (printf "static/icons/%s" $item.icon) | safeHTML }}
          </div>
          {{ end }}
          <div>
            <h3 class="[ flex center middle col-gap--0.25 ]">
              <span>{{ $item.title }}</span>
            </h3>
            <p>{{ $item.blurb }}</p>
          </div>
        </a>
        <div>
          {{ partial "buttons/primary.html" (dict "url" $item.href "text" "Get Your Quote") }}
        </div>
      </article>
      {{ end }}
    {{ end }}

    <div class="[ grid gap--2 ]">
      {{ range $i, $item := .items }}
        {{ $isPrimary := eq $item.key "web-design" }}
        {{ if not $isPrimary }}
        <article class="[ service service--{{ $i }} ][ flex flex--column lg:flex--row center lg:middle col-gap--1.5 row-gap--2 ]">
          <a class="[ service__link ]" href="{{ $item.href }}" data-prefetch>
            {{ if $item.icon }}
            <div class="icon">
              {{ readFile (printf "static/icons/%s" $item.icon) | safeHTML }}
            </div>
            {{ end }}
            <div>
              <h3 class="[ flex middle col-gap--0.25 ]">
                <span>{{ $item.title }}</span>
              </h3>
              <p>{{ $item.blurb }}</p>
            </div>
          </a>
        </article>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
