{{ define "variables" }}
{{ .Store.Set "hasThankYou" true }}
{{ .Store.Set "hasObscure" true }}
{{ end }}
{{- define "main" -}}
<div class="[ grid middle layout--padding ]">
  <div>
    <h1>Thank You</h1>
  
    <p>We're happy to have received your message. We'll get back to you as soon as we can. </p>
    
    <p>Have a great <span id="timeOfDay">day</span>!</p>
    
    <a href="/" data-prefetch>Back to homepage &rarr;</a>
  
    <template id="notice">This page will redirect in {seconds}.</template>
  
  </div>
</div>
{{- end -}}